* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.v1_3 {
  position: fixed;
  width: 100%;
  height: 64px;
  left: 0px;
  top: 0px;
  background: #67669A;
  mix-blend-mode: normal;
}

.back_panel {
    right: 10px;
}

.v1_5 {
  width: 100%;
  height: 64px;
  background: rgba(103,102,154,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_13 {
  width: 120px;
  height: 43px;
  background: rgba(139,137,240,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 461px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v1_10 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 451px;
  font-family: SeoulNamsan CEB;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v1_12 {
  width: 93px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 187px;
  font-family: SeoulNamsan CEB;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v1_6 {
  width: 200px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 9px;
  font-family: SeoulNamsan CEB;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v1_8 {
  width: 179px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 26px;
  left: 209px;
  font-family: SeoulNamsan CEB;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v1_14 {
  width: 629px;
  color: rgba(103,102,154,1);
  position: absolute;
  top: 168px;
  left: 128px;
  font-family: KoHo;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v1_17 {
  width: 273px;
  height: 59px;
  background: rgba(103,102,154,1);
  opacity: 1;
  position: absolute;
  top: 348px;
  left: 398px;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  overflow: hidden;
}
.v1_19 {
  width: 201px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 334px;
  left: 434px;
  font-family: KoHo;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v1_11 {
  width: 86px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 307px;
  font-family: SeoulNamsan CEB;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
