.bg_main {
    background-color: #67669A;
}


.becode_alert {
    background-color: #976190;
    border-color: #a33995;
    font-size: 1.2rem;
    color: #ffffff;
}

.becode_nav-link {
    border-style: solid;
    text-align: center;
    border-radius: 10px;
}