.bg_main {
    background-color: #67669A;
}


.becode_alert {
    padding: 0;
    text-align: center;
    font-family: KoHo;
    font-style: normal;
    font-weight: normal;
    border-color: #67669A;
    border-style: solid;
    border-width: 2px;
    font-size: 1.5rem;
    color: #67669A;
    border-radius: 15px;
    background-color: white;
}

.becode_nav-link {
    border-style: solid;
    text-align: center;
    border-radius: 10px;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    background-color: var(--color-avatar-bg);
    border-radius: 6px;
    flex-shrink: 0;
    box-shadow: 0 0 0 1px var(--color-avatar-border);
}

.avatar-user {
    border-radius: 50%!important;
}

.avatar-1, .avatar-2, .avatar-small {
    border-radius: 4px;
}

.self-align {
   align-self: stretch;
}

.becode_shadow:focus {
    color: #4b49ca;
    background-color: #fff;
    border-color: #4b49ca;
    outline: 0;
    box-shadow: 0 0 5px #4b49ca;
}

.course-block {
    text-align: center;
    font-family: KoHo;
    font-style: normal;
    font-weight: normal;
    font-weight: 500;
    border-color: #67669A;
    border-style: solid;
    border-width: 5px;
    font-size: 3rem;
    color: #67669A;
    border-radius: 25px;
}

.becode-a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.becode-a:hover {
    text-decoration: none;
   }