.bg_main {
    background-color: #67669A;
}

.becode-display {
    display: flex;
}

.becode_alert {
    padding: 0;
    text-align: center;
    font-family: KoHo;
    font-style: normal;
    font-weight: normal;
    border-color: #8305f3;
    border-style: solid;
    border-width: 2px;
    font-size: 1.2rem;
    color: #8305f3;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 5px #8305f3;
}

.becode_nav-link {
    border-style: solid;
    text-align: center;
    border-radius: 10px;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    background-color: var(--color-avatar-bg);
    border-radius: 6px;
    flex-shrink: 0;
    box-shadow: 0 0 0 1px var(--color-avatar-border);
}

.avatar-user {
    border-radius: 50%!important;
}

.avatar-1, .avatar-2, .avatar-small {
    border-radius: 4px;
}

.self-align {
   align-self: stretch;
}

.becode_shadow:focus {
    color: #4b49ca;
    background-color: #fff;
    border-color: #4b49ca;
    outline: 0;
    box-shadow: 0 0 5px #4b49ca;
}

.becode-font {
    text-align: center;
    font-family: KoHo;
    font-size: 1.3rem;

}

.becode-part-block {
    height: 20px;
    background-color: white;
    border-radius: 23px;
    border: 2px solid #80808069;
}

.becode-content {
    text-align: center;
    font-family: KoHo;
    border-color: #67669A;
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
}

.becode-content-passed {
    border-color: #19ad3a;
    box-shadow: 0 0 10px #19ad3a;
}

.becode-content-small {
    font-size: 1.45rem;
}

.becode-btn {
    color: #fff;
    background-color: #67669A;
    border-color: #67669A;
}

.becode-btn-passed {
    color: #fff;
    background-color: #19ad3a;
    border-color: #19ad3a;
}

.becode-btn-wrong {
    color: #fff;
    background-color: #bb2a2a;
    border-color: #bb2a2a;
}

.becode-btn:hover,
.becode-btn:focus {
    color: #fff;
    background-color: #67669A;
    border-color: #67669A;
}

.becode-btn-passed:hover,
.becode-btn-passed:focus {
    color: #fff;
    background-color: #19ad3a;
    border-color: #19ad3a;
}

.becode-btn-wrong:hover,
.becode-btn-wrong:focus {
    color: #fff;
    background-color: #bb2a2a;
    border-color: #bb2a2a;
}

.becode-btn-passed:not(:disabled):not(.disabled).active,
.becode-btn-passed:not(:disabled):not(.disabled):active,
.show>.becode-btn-passed.dropdown-toggle {
    background-color: #19ad3a;
    border-color: #19ad3a;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #4c4b71;
    border-color: #4c4b71;
}

.course-block {
    text-align: center;
    font-family: KoHo;
    font-style: normal;
    font-weight: normal;
    font-weight: 500;
    border-color: #67669A;
    border-style: solid;
    border-width: 5px;
    font-size: 3rem;
    color: #67669A;
    border-radius: 25px;
}

.course-block:hover {
    background: #67669A;
    color: white;
}

.becode-a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.becode-a:hover {
    text-decoration: none;
   }

.becode-list {
    text-align: center;
    font-family: KoHo;
    font-style: normal;
    font-weight: normal;
    font-weight: 500;
    border-color: #67669A;
    border-style: solid;
    border-width: 2px;
    font-size: 1.8rem;
    color: #67669A;
    border-radius: 10px;
}

.becode-shadow {
    opacity: .5;
    font-size: 1.5rem;
}

.btn-primary {
    border-radius: 0px !important;
    background-color: #67669A;
    border-color: #67669A;
}

.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active  {
  background-color: #53527A  !important;
  border-color: #53527A !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    background-color: #53527A !important;
    border-color: #53527A !important;
}

.avatar_input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.avatar_btn:hover,
.avatar_btn:focus,
.avatar_btn:active  {
  background-color: #67669A  !important;
  border-color: #67669A !important;
}

.avatar_btn:not(:disabled):not(.disabled).active,
.avatar_btn:not(:disabled):not(.disabled):active,
.show > .avatar_btn.dropdown-toggle {
    background-color: #67669A !important;
    border-color: #67669A !important;
}