{% extends "header.html" %}

{% block content %}
    <div class="container row mt-3 justify-content-center">
        {% for elm in range(part) %}
            <a href="{{ elm + 1 }}" class="col-sm-1 {% if elm + 1 == cur_part %} becode-current-part-block {% endif %} {% if passed_parts[elm] %} becode-passed-part-block {% endif %} becode-part-block mx-3"></a>
        {% endfor %}
    </div>
    <div class="mt-5 container">
        <div class="becode-content">
        <h1>{{ data['topic_name'] }}</h1>
        <h2>{{ data['name'] }}</h2>
        <div class="mt-5 becode-content-small">
            <p class="mx-2">{{ data['context'] }}</p>
        </div>
        </div>
        <div class="my-5 py-3 px-3 becode-content {% if passed %} becode-content-passed {% endif %}">
            <h2>{{ data['questions'] }}</h2>
            {% if data['type'] == 'question' %}
            <form action="" method="post" novalidate>
                <div class="btn-group btn-group-toggle row becode-display" data-toggle="buttons">
                    {% for answer in data['answers'] %}
                  <label class="my-2 mx-5 btn {% if not passed %} btn-secondary {% endif %} becode-btn becode-font col-sm-12 {% if passed and answer == data['right_answer'] %} becode-btn-passed {% endif %} {% if answer == wrong_answer %} becode-btn-wrong {% endif %}">
                    <input type="radio" name="answer" value="{{ answer }}"> {{ answer }}
                  </label>
                    {% endfor %}
                </div>
                <div class="row">
                    {% if not passed %}
                <input type="submit" class="mt-5 mx-5 btn btn-primary btn-lg btn-block" value="Check">
                    {% endif %}
                </div>
            </form>
            {% else %}
                <div>{{ number }} - нечётное</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
