<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=SeoulNamsan+CEB&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=KoHo&display=swap" rel="stylesheet" />
        <link href="static/main.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div class="v1_3">
            <div class="back_panel">
                <div class="v1_5"></div>
                <div class="v1_13"></div>
                <span class="v1_10">courses</span>
                <span class="v1_12">sign up</span>
            </div>
            <span class="v1_6">BeCode</span>
            <span class="v1_8">study with us</span>
            <span class="v1_14">Start chilling with all programming comunity</span>
            <div class="v1_17"></div><span class="v1_19">for free</span><span class="v1_11">sign in</span>
        </div>
    </body>
</html>