{% extends "header.html" %}

{% block content %}
<style type="text/css">
	.line {
		border-left: 2px solid #ccc;
		margin-left: 1em;
		padding-left: 5em;
	}
 </style>
<div class="container mt-4">
	<div class="row">
		<div class="col-sm">
			<label for="inp" class="btn btn-primary avatar_btn"><img src="{{ url_for('static', filename='{0}'.format(user.avatar)) }}"></label>
			<input name="inp" id="inp" class="avatar_input" type="file" accept=".png">
		</div>
		<div class="col-sm lead line">
			<figure class="mt-3">
				<blockquote class="blockquote">
					<p>{{ current_user.login }}</p>
				</blockquote>
				<figcaption class="blockquote-footer">
					Логин пользователя
				</figcaption>
				<hr/>
				<blockquote class="blockquote">
					<p>{{ current_user.email }}</p>
				</blockquote>
				<figcaption class="blockquote-footer">
					E-mail пользователя
				</figcaption>
				<hr/>
				<!-- <blockquote class="blockquote">
					<p>{{ current_user.score }}</p>
				</blockquote>
				<figcaption class="blockquote-footer">
					Количество очков пользователя
				</figcaption> -->
				<ul class="list-inline">
					<li class="list-inline-item">
						<p>{{ current_user.score }}</p>
					</li>
					<li class="list-inline-item">
						<figcaption class="blockquote-footer">
							Количество очков пользователя
						</figcaption>
					</li>
				</ul>
			</figure>
		</div>
	</div>
</div>
<div class="container">
	
</div>
{% endblock %}