{% extends "header.html" %}

{% block content %}
    <div class="mt-5">
        <h1>Авторизация</h1>
        <form class="mt-3" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p class="mb-0">
                {{ form.username(class="form-control", placeholder="Логин") }}<br>
                {% for error in form.username.errors %}
            <div class="alert alert-danger becode_alert" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            </p>
            <p class="mb-0">
                {{ form.password(class="form-control", type="password", placeholder="Пароль") }}<br>
                {% for error in form.password.errors %}
            <div class="alert alert-danger becode_alert" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            </p>
            {% if exception %}
            <div class="alert alert-danger becode_alert" role="alert">{{ exception }}</div>
            {% endif %}
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        </form>
    </div>
{% endblock %}